body.show-access-keys [accesskey] {
  position: relative;
}

body.show-access-keys [accesskey]:after {
  content: attr(accesskey);
  color: var(--active-color);
  background-color: var(--button-background);
  padding: var(--padding);
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: x-small;
  font-weight: bold;
  z-index: 1;
  border: var(--outline-width) solid var(--active-color);
}
