.status-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--black);
  background: var(--green);
  padding: var(--padding);
  font-size: smaller;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  flex-wrap: wrap;
  gap: var(--gap);
}

/* :not(:has(*)) as work-around for :empty with white-space */
.status-bar:not(:has(*)) {
  display: none;
}

.status-bar kbd {
  padding: 0.25em 0.5em;
  color: var(--black);
  background: var(--highlight-color);
  font-weight: bold;
}
