body > .tool-panes {
  position: absolute;
  right: 0;
  top: 0;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.tool-panes {
  color: var(--color);
  background-color: var(--green);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* :not(:has(*)) as work-around for :empty with white-space */
.tool-panes:not(:has(*)) {
  display: none;
}

.tool-panes > dt {
  font-weight: bold;
  color: var(--yellow);
  background-color: var(--brown);
  padding: var(--padding);
  display: flex;
  gap: var(--gap);
  align-items: center;
}

.tool-panes > dd {
  margin: 0;
  padding: 0 var(--padding) var(--padding);
}

.tool-panes > dd:not(.expanded) {
  display: none;
}
