body > .tool-bar {
  position: absolute;
  left: 0;
  top: 0;
  padding: var(--padding);
  background-color: var(--shade);
}

.tool-bar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: var(--gap);
}

.tool-bar .expand-collapse-button {
  background-image: url("../../css/fontawesome/caret-right-solid.svg");
}

.tool-bar .tool-bar {
  flex-direction: column;
}

.tool-bar .tool-bar .expand-collapse-button {
  background-image: url("../../css/fontawesome/caret-down-solid.svg");
}

.tool-bar .tool-button,
.tool-bar .expand-collapse-button {
  appearance: none;
  display: block;
  color: var(--button-color);
  background-color: var(--button-background);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: content-box;
  margin: 0;
  padding: var(--padding);
  height: var(--icon-size);
  width: var(--icon-size);
}

.tool-bar .tool-button:checked {
  outline: var(--outline-width) solid var(--active-color);
}

/* hide nested tool-bars and items when parent is not expanded */
.tool-bar .tool-bar,
.tool-bar > li {
  display: none;
}

/* show nested tool-bars when parent is expanded */
.tool-bar.expanded .tool-bar,
/* show nested tool-bars when one input is checked even when parent is not expanded so there is always a tool visible */
.tool-bar .tool-bar:has(input:checked),
/* show first nested tool-bar even when no input is checked and parent is not expanded so there is always a tool visible */
.tool-bar > li:first-child > .tool-bar,
/* show nested tool-bars when access key should be shown even when no input is checked and parent is not expanded */
body.show-access-keys .tool-bar .tool-bar:has([accesskey]) {
  display: flex;
}

/* show items when parent is expanded */
.tool-bar.expanded > li,
/* always show expand and collapse items */
.tool-bar > li:has(> .expand-collapse-button),
/* show items when one input is checked even when parent is not expanded so there is always a tool visible */
.tool-bar > li:has(input:not(.expand-collapse-button):checked),
/* show items even when no input is checked and parent is not expanded so there is always a tool visible */
.tool-bar:not(:has(input:not(.expand-collapse-button):checked)) > li:first-child,
/* show items when access key should be shown even when no input is checked and parent is not expanded */
body.show-access-keys .tool-bar > li:has([accesskey]) {
  display: block;
}

.tool-bar.expanded > li > .expand-collapse-button {
  background-image: url("../../css/fontawesome/caret-left-solid.svg");
}

.tool-bar .tool-bar.expanded > li > .expand-collapse-button {
  background-image: url("../../css/fontawesome/caret-up-solid.svg");
}
