.expand-collapse-button {
  background-image: url("../../css/fontawesome/caret-right-solid.svg");
  appearance: none;
  color: var(--button-color);
  background-color: var(--button-background);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: content-box;
  margin: 0;
  width: 1rem;
  height: 1rem;
}

.expand-collapse-button.expanded {
  background-image: url("../../css/fontawesome/caret-down-solid.svg");
}
