body > .preloading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.preloading {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: 0;
  padding: var(--padding);
  list-style-type: none;
  color: var(--black);
  background: var(--green);
  justify-content: center;
}

.preloading li label {
  display: flex;
  justify-content: space-between;
}

.preloading li label progress {
  -webkit-appearance: none;
  appearance: none;
}

.preloading li label progress::-webkit-progress-bar {
  background-color: var(--brown);
}

.preloading li label progress::-webkit-progress-value {
  background-color: var(--active-color);
}
