@import "a11y/a11y.css";
@import "html/html.css";
@import "maps/map.css";
@import "preloading/preloading.css";
@import "tools/statusBar.css";
@import "tools/toolBar.css";
@import "tools/toolPanes.css";

*:root {
  --padding: 0.5rem;
  --gap: 0.5rem;

  /* https://color.adobe.com/de/DnD-Players-Manual-color-theme-7013262/ */
  --red: #d32430;
  --green: #bbbcac;
  --white: #ffeff4;
  --yellow: #f8d5b5;
  --brown: #582d30;

  --black: #000;
  --highlight-color: rgba(255, 255, 255, 0.5);
  --error-color: var(--red);

  --comfort-white: var(--white);
  --comfort-black: var(--black);

  --color: var(--comfort-black);
  --background-color: var(--comfort-white);

  --outline-width: 2px;
  --active-color: var(--red);

  --button-color: var(--comfort-black);
  --button-background: var(--yellow);

  --icon-size: 2.5rem;

  --grid-color: var(--brown);
  --grid-width: 1;

  --shade: rgba(0, 0, 0, 0.5);

  --ocean: #3f6e82;
}

html {
  color: var(--color);
  background: var(--background-color);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  touch-action: none;
}

canvas.fullsize {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

ul.checkboxes {
  list-style-type: none;
  padding: 0;
}
