*:root {
  --comfort-black: #212427;
  --comfort-white: #f0ece1;

  --color: var(--comfort-black);
  --background-color: var(--comfort-white);

  --code-color: var(--comfort-black);
  --code-background-color: #d6d3c9;

  --link-color: #0000e1;

  --padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  *:root {
    --color: var(--comfort-white);
    --background-color: var(--comfort-black);

    --code-color: var(--comfort-white);
    --code-background-color: #292c36;

    --link-color: #ffff1e;
  }
}

* {
  font: inherit;
}

html {
  font-size: 100%;
  font-family: system-ui;

  color: var(--color);
  background-color: var(--background-color);
}

body {
  /* 100vh so scrolling to an anchor always brings the anchor to the top of the page */
  margin: 0 auto 100vh auto;
  /* 60rem because that's about the amount of letters a human can easily read within one line of text */
  max-width: 60rem;
}

a {
  color: var(--link-color);
}

ul.tests {
  list-style-type: none;
  padding: 0;
}

ul.tests ul {
  padding-left: var(--padding);
}

ul.tests li {
  font-weight: normal;
}

ul.tests li:has(ul) {
  font-weight: bold;
}

ul.tests li:not(:has(ul)):before {
  content: "⌛";
}

ul.tests li.success:before {
  content: "✔️";
}

ul.tests li.skip {
  opacity: 0.5;
}

ul.tests li.skip:before {
  content: "⛔";
}

ul.tests li.failure:before {
  content: "⚠️";
}

ul.tests li.error:before {
  content: "❌";
}

pre.code {
  color: var(--code-color);
  background-color: var(--code-background-color);
  padding: var(--padding);
  overflow: auto;
  font-family: monospace;
  font-weight: normal;
}
